<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="{{ site.url }}">About</a></li>
		<li><a href="{{ site.url }}">CV</a></li>
		<li><a href="{{ site.url }}">Olympiadium</a></li>
		<li><a href="{{ site.url }}mathematical-olympiads/">Mathematical Olympiads</a></li>
		<li><a href="{{ site.url }}science-olympiads/">Science Olympiads</a></li>
		<li><a href="{{ site.url }}computer-and-coding/">Computer and Coding</a></li>
		<li><a href="{{ site.url }}templates/">Templates</a></li>
		<li><a href="{{ site.url }}elements.html">Elements</a></li>
		<li><a href="{{ site.url }}masterpiece/">Masterpiece</a></li>
	</ul>
</nav>