<nav id="menu">
	<h2>Menu</h2>
	<ul>
		<li><a href="{{ site.baseurl }}/">About</a></li>
		<li><a href="{{ site.baseurl }}/">CV</a></li>
		<li><a href="{{ site.baseurl }}/">Olympiadium</a></li>
		<li><a href="{{ site.baseurl }}/mathematical-olympiads/">Mathematical Olympiads</a></li>
		<li><a href="{{ site.baseurl }}/science-olympiads/">Science Olympiads</a></li>
		<li><a href="{{ site.baseurl }}/computer-and-coding/">Computer and Coding</a></li>
		<li><a href="{{ site.baseurl }}/templates/">Templates</a></li>
		<li><a href="{{ site.baseurl }}/elements.html">Elements</a></li>
		<li><a href="{{ site.baseurl }}/masterpiece/">Masterpiece</a></li>
	</ul>
</nav>